:root {
    --cor-input-texto: rgba(89, 245, 89, 0.699);

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buscar {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background: #333;
    color: #fff;
}

#busca {
    width: 300px;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: none;
    background-color: var(--cor-input-texto);
}