:root {

    --cor-fundo-nome-cientifico: green;
}

#nome_planta {
    padding: 20px 20px 20px 10px;
    border-radius: 0px 20px 20px 0px;
    background-color: var(--cor-fundo-nome-cientifico);
}

/* INICIO TABELA DE INFORMAÇÕES */
table th {
    text-align: start;
    padding: 0px 30px 0px 0px;
}

table{
    width: 100%;
}

table,
th,
tr,
td {
    border: 1px solid black;
}

/* FIM TABELA DE INFORMAÇÕES */

.coluna {
    width: 100%;
    border: 1px solid red;
}

