:root{
    --cor-fundo-sidebar: #ffffff;
    --cor-hover-icones-menu: #6b6b6b;
    --cor-icones-menu-ativado: #4f46e5;
    --cor-textos-icones-menu: #0a0a0a;
    --cor-textos-icones-menu-ativado: #e3e9f7;
}


#sidebar{
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--cor-fundo-sidebar);
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: fixed;
    min-width: 82px;
    transition: all .5s;
}

#sidebar_content{
    padding: 12px;

}

#user{
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

#user img{
    width: 60px;
    width: 50px;
}

#user_avatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos{
    flex-direction: column;
}

#user_infos span:last-child{
    color: var(--cor-hover-icones-menu);
    font-size: 12px;
}

#side_items{
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item{
    cursor: pointer;
    border-radius: 8px;
}

.side-item.active{
    background-color: var(--cor-icones-menu-ativado);
    width: auto;
}

.side-item:hover:not(.active),
#logout_btn:hover{
    background-color: #d2d8e6;
}

.side-item a{
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: var(--cor-textos-icones-menu);
    padding: 12px;
}

.side-item.active a {
    color: var(--cor-textos-icones-menu-ativado);
}

.side-item a img {
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;

}   

#logout{
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn{
    border: none;
    padding: 12px;
    font-size: 14px;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn{
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: var(--cor-icones-menu-ativado);
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon{
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon{
    transform: rotate(180deg)
}

.item-description{
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s ;

}

#sidebar.open-sidebar{
    min-width: 15%;
}

#sidebar.open-sidebar .item-description{
    width: 150px;

}

#sidebar.open-sidebar .side-item  a{
    justify-content: flex-start;
    gap: 14px;
}
